.input{
    height: 75px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: black; 
    background-color: white;
    padding: 11px;
    padding-right: 30px;
    border: 1px solid black; 
    box-shadow: -1px 4px 1px 1px; 
}