*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
body, nav, .row, .col-1 .col-2{
    display: flex;
}
body, .col-1, .col-2{
    flex-direction: column;
    align-items: center;
}
nav{
    padding: 5px;
    width: 710px;
    background-color: black;
    color: white;
}
.row{
    justify-content: center;
    gap: 35px;
}
.col-1{
    flex: 1;
}
.col-2{
    flex: 2;
}
.card{
    display: flex;
    padding: 5px;
    margin-top: 20px;
    flex-direction: column;
    border: 2px solid black;
}
#card{
    align-items: center;
    padding-bottom: 20px;
}
.card-header{
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
.likes{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:30px;
}
.btn {
    margin-right: 20px;
    background-color: RGB(255, 217, 102);
    color: black;
    width: 60px;
    height: 30px;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
    font-size: 1rem;
    cursor: pointer;
}
p{
    padding: 10px;
}
h1{
    padding-top: 10px;
}
#Title{
    font-size: x-large;
}