body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
  background-color: #f4f4f9;
}

.App {
  text-align: center;
  margin-top: 20px; 
}

form.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchSelect, .searchId {
  display: flex;
  align-items: center;
  gap: 5px;
}

label {
  font-weight: bold;
}

select, input[type="number"], input[type="submit"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px; /* Altura uniforme */
  width: 180px; /* Ancho uniforme */
}

input[type="submit"] {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  width: auto; 
  padding: 0 20px; 
}

input[type="submit"]:hover {
  background-color: #444;
}

select:hover, input[type="number"]:hover {
  border-color: #888;
}

.results {
  margin-top: 20px;
  text-align: left; 
  display: flex;
  justify-content: flex-start; 
}

.result {
  margin-left: 20px;
}

.error {
  margin-left: 20px;
  color: red;
  text-align: center; /

.error img {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
