* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: cursive;
    font-style: inherit;
    font-size: 100%;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card {
    width: 40%;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
}

.azul {
    height: 100px;
    background-color: rgb(23, 162, 184);
}

.perfil img {
    position: absolute;
    top: 100px;
    width: 100px;
    height: 100px;
    padding: 2px;
    margin-left: 30px;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 50%;
}

.contenido {
    margin-bottom: 30px;
    padding: 37px;
    padding-top: 60px;
    border-left: 2px solid rgb(204, 204, 204);
    border-right: 2px solid rgb(204, 204, 204);
    border-bottom: 2px solid rgb(204, 204, 204);
}

.contenido h2,
.contenido h3 {
    display: flex;
    align-items: center;
    padding: 7px 0;
}

.img {
    width: 15px;
    height: 19px;
    margin-right: 5px;
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

h3 {
    text-decoration: underline;
}

#gear {
    height: 15px;
}
