/* src/components/BoxGenerator/BoxGenerator.css */

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .form-input, .form-button {
    width: 100%;   /* Asegura que ambos ocupen el ancho completo del contenedor */
    padding: 10px;
    margin-bottom: 10px;  /* Espaciado uniforme */
    border-radius: 4px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho del elemento */
  }
  
  .form-input {
    border: 2px solid #ccc;
  }
  
  .form-input:focus {
    border-color: #6658f6;
    outline: none;
  }
  
  .form-button {
    background-color: #6658f6;
    color: white;
    border: none; /* No border for the button */
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-button:hover {
    background-color: #5848c2;
  }
  
  .error {
    color: #ff3860;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 10px;
  }
  