*{
    margin: 0;
    padding: 0;
    font-family: Bangers, cursive;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,.card,.colum-1,.colum-2{
    border: 2px solid;
}
.navbar{
    display: flex;
    width: 80%;
    height: 40px;
    align-items: center;
    background-color: RGB(204, 204, 204);
    justify-content:space-around;
}
.row,.card,.col-1,.col-2{
    display: flex;
}
.row{
    width: 80%;
    gap: 10px;
}
.col-1,.col-2{
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}
.col-1{
    flex: 1;
}
.col-2{
    flex: 2;
}
.card{
    padding: 5px;
}
.center-V{
    justify-content: center;
}
.center-H{
    margin-left: -30px;
    align-items: center;
}
.btn{
    font-weight: bold;
    margin-bottom: 7px;
    padding: 2px 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0); 
}
.btn:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: none;
}
.h1{
    font-size: 25px;
}
.primary{
    background-color: RGB(43, 120, 228);
    color: white;
}
.secundary{
    background-color: RGB(147, 196, 125);
}
.tertiary{
    background-color: RGB(255, 217, 102);
    padding: 2px 5px;
}
