@font-face {
    font-family: comicsans;
    src: url(./fuentes/COMICSANS.TTF);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'comicsans';
}
body{
    width: 60%;
    display: flex;
    margin: 0% 20%;
    flex-direction: column;
}
nav{
    width: 100%;
    padding: 7px 0px;
    display: flex;
    flex-direction: row;
    background-color: rgb(51,51,51);
}
h2{
    color: white;

}
.nav-left,.nav-right,.search,.search-left,.search-right,.card,.content,.card-recipe,.row,.col-1,.col-2{
    display: flex;
}
.nav-left,.nav-right,.search-left,.col-1{
    align-items: center;
    flex: 1;
}
.row{
    width: 100%;
}
.col-1{
    flex-direction: column;
    gap: 15px;
}
.left{
    display: flex;
    gap:0;
    align-items: flex-start;
}
.right{
    flex-direction: row;
    justify-content: flex-end;
    gap: 0;
}
.col-2, .search-right{
    flex: 2;
}
.nav-left{
    padding-left: 25px;
}
.nav-right{
    justify-content: end;
    padding-right: 30px;
    gap: 25px;
}
.btn-orange,.btn-primary{
    width: 70px;
    height: 30px;
    border: 3px solid black;
}
.btn-primary{
    color: white;
    background: rgb(8,83,148);
}
.btn-orange{
    color: black;
    background: rgb(253,152,1);
}
.orange{
    color: rgb(253,152,1);
}
.search{
    height: 150px;
    align-items: center;
    background: rgb(249,203,156);
}
.search-left{
    justify-content: center;
}
.search-right{
    flex-direction: row;
    justify-content: space-around;
}
.input{
    width: 200px;
    height: 25px;
    border: 3px solid black;
}
.card{
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.card-img{
    width: 87px;
    padding: 3px;
    background: white;
    border-radius:100% ;
}
.content{
    margin-top: 15px;
    gap: 15px;
}
.card-recipe{
    width: 100%;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    background:rgb(238,238,238);
    gap: 15px;
}
.card-recommended{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.h3{
    color: rgb(28,96,155);
}
.recipe-img{
    width:  100%;
    height: 100%;
}
.recommended-img{
    width: 100%;
}
.img-link{
    width: 20px;
}
.recommend-H3{
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(209, 209, 209);
}
.input-group {
    display: flex; /* Alinear horizontalmente el input y el botón */
    border: 2px solid black; /* Borde del input group */
    border-radius: 25px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.input-field {
    flex-grow: 1; 
    outline: none;
    border: none;
    padding: 2px 5px; 
}

.input-button {
    background-color:rgb(28,96,155); /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin bordes */
    padding: 2px 5px; /* Espacio interior del botón */
    cursor: pointer; /* Cursor en forma de mano al pasar el ratón */
}

.input-button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón */
}

