*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.paredes{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: RGB(17, 47, 223);
}
.coin{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("./img/coin.gif");
    background-size: contain;
    background-color: black;
}
#ghost{
    position: absolute;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("./img/red.gif");
    background-size: contain;
    left: 240px;
    top: 0px;
}
.cherry{
    height: 40px;
    width:  40px;
    display: inline-block;
    background-image: url("./img/cherry.png");
    background-size: cover;
    background-color: black;
}
.camino{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: black;
}
#pacman{
    position: absolute;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("./img/pac-man.gif");
    background-size: contain;
    left: 240px;
    top: 0px;
    
}
#gameOver {
    position: absolute;
    width: 440;
    text-align: center;
    background-color: white;
    display: inline-block;
    left: 0px;
    top: 160px;
    display: none;
    
}